@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import '../settings';
@import "{poetic:materialize-scss}/sass/materialize.scss";

$navbar-z-index: 999;

// Overrides of materializecss
.container {
  width: $max-width;
}
nav {
  background: $nav-bg;

  /* To fix flickering:
       transform: translateZ(0);
     However, it bugs the sliding sidebar,
     see https://github.com/Dogfalo/materialize/issues/2392
   */
}


body {
  background: $bg-color;
  color: #eee;
  padding-bottom: 50px;
}

.navbar-fixed {
  opacity: 0.9;
  z-index: 999;

  nav {
    padding: 0 10px;
  }
}

#navbar-main {
  .username {
    background: #222;
    color: #fff;
    margin-right: 10px;
  }
}

#navbar-on-air {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $navbar-z-index;
  opacity: 0.95;

  nav {
    background: #000; //darken($twitch-purple, 5);
    color: #fff;

    .nav-wrapper {
      height: 64px;

      @media #{$small-and-down} {
        padding: 7px 5px 5px 7px;
        line-height: 24px; // otherwise would accept only a single line of text
      }
      @media #{$medium-and-up} {
        padding: 10px 8px 5px 10px;
        line-height: 24px; // otherwise would accept only a single line of text
      }

      .stream-name, .stream-game, .stream-viewers {
        font-weight: bold;
      }
    }
  }

  .progress-on-air {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .on-air-options {
    .dropdown-content {
      left: auto !important;
      top: auto !important;
      bottom: 60px;
      right: 0px;

      li {
        span.badge.new:after {
          content: '';
        }
      }
    }

    .btn-options {
      float: right;
      margin: 7px 10px;

      &.active {
        color: $materialize-teal;
      }

      i {
        margin: 0;
        line-height: 32px;
        height: 32px;
      }
    }
  }
}

#navbar-progress-on-air {
  height: 5px;
  padding: 0;

  nav {
    height: 5px;
    padding: 0;
  }

  .progress-on-air {
    border-radius: 0;
    margin: 0;
  }
}


.stream-list {
  list-style: none;
  width: 100%;

  // normalizecss leaves a weird larger space at the right on small screens,
  // so make it even
  padding: 0 0 10px 20px;

  .stream {
    .card {
      background: $bg-color;

      .card-title {
        font-weight: bold;
        text-shadow: 2px 2px 0 #222;
        padding: 5px 10px;
        top: 0;
        bottom: auto;
      }

      .card-title.stream-viewers {
        left: auto;
        right: 0;
        font-size: 16px;
        top: auto;
        bottom: 0;
      }

      .card-content {
        padding: 10px;
        background: darken($bg-color, 10);
      }
    }

    &.active {
      .card-content {
        background: darken($secondary-color, 5);
      }
    }
  }
}
