@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import '../settings';
@import "{poetic:materialize-scss}/sass/materialize.scss";

// Overrides of materializecss
.container {
  width: $max-width;
}
nav {
  background: $nav-bg;

  /* To fix flickering:
       transform: translateZ(0);
     However, it bugs the sliding sidebar,
     see https://github.com/Dogfalo/materialize/issues/2392
   */
}


body {
  background: $bg-color;
  color: #eee;
}

.navbar-fixed {
  opacity: 0.9;
  z-index: 999;

  nav {
    padding: 0 10px;
  }
}

#navbar-main {
  .username {
    background: #222;
    color: #fff;
    margin-right: 10px;
  }
}

#navbar-on-air nav {
  background: darken($twitch-purple, 5);
  color: #fff;

  .nav-wrapper {
    @media #{$small-and-down} {
      padding: 3px;
      line-height: 24px; // otherwise would accept only a single line of text
    }
    @media #{$medium-and-up} {
      padding: 8px;
      line-height: 24px; // otherwise would accept only a single line of text
    }

    .stream-name, .stream-game, .stream-viewers {
      font-weight: bold;
    }
  }
}

#navbar-progress-on-air {
  height: 5px;
  padding: 0;

  nav {
    height: 5px;
    padding: 0;
  }

  .progress-on-air {
    border-radius: 0;
    margin: 0;
  }
}


.stream-list {
  list-style: none;
  width: 100%;

  // normalizecss leaves a weird larger space at the right on small screens,
  // so make it even
  padding: 0 0 10px 20px;

  .stream {
    .card {
      background: $bg-color;

      .card-title {
        font-weight: bold;
      }

      .card-title.stream-viewers {
        left: auto;
        right: 0;
      }

      .card-content {
        padding: 10px;
        background: darken($bg-color, 10);
      }
    }

    &.active {
      .card-content {
        background: darken($twitch-purple, 5);
      }
    }
  }
}
