// our variables
$twitch-purple: #6441a5;
$bg-color: #222;
$max-width: 100%;
$nav-bg: #0a0a0a;
$materialize-teal: #009688;

// materializecss's variables
// Available variables:
// https://github.com/poetic/meteor-materialize-scss/blob/meteor/sass/components/_variables.scss
$primary-color: $twitch-purple;
$button-color: $primary-color;
